<%= form_with(model: @member) do |form| %> 
  <%= render "shared/error_msgs" %>
  <hr/>
    <%= form.label :acct_type %> &nbsp; 
    <% case @member.acct_type %>
    <% when "e" %>
      <span>Currently: </span> <%= form.radio_button :acct_type, "e", value: "e", checked: true %> Editor &nbsp; 
      <%= form.radio_button :acct_type, "w", value: "w" %> Writer &nbsp; 
      <%= form.radio_button :acct_type, "n", value: "n" %> Neither, just browsing 
      <br/>
    <% when "w" %>
      <span>Currently: </span> <%= form.radio_button :acct_type, "w", value: "w", checked: true %> Writer &nbsp; 
      <%= form.radio_button :acct_type, "e", value: "e" %> Editor &nbsp; 
      <%= form.radio_button :acct_type, "n", value: "n" %> Neither, just browsing
      <br/>
    <% else %>
      <span>Currently: </span> <%= form.radio_button :acct_type, "n", value: "n", checked: true %> Neither, just browsing &nbsp; 
      <%= form.radio_button :acct_type, "e", value: "e" %> Editor &nbsp; 
      <%= form.radio_button :acct_type, "w", value: "w" %> Writer
      <br/>
    <% end %>
  <br/>
  
    <%= form.label :first_name %> &nbsp; 
    <%= form.text_field :first_name, value: @member.first_name %>
  <br/>
  
    <%= form.label :last_name %> &nbsp; 
    <%= form.text_field :last_name, value: @member.last_name %>
  <br/>
  
    <span>Sorry, the alter ego and password, can't be changed yet</span>
  <br/>
  
    <%= form.label :email %> &nbsp; 
    <%= form.text_field :email, value: @member.email %>
  <br/>
  
    <%= form.label :tagline %> &nbsp; 
    <%= form.text_field :tagline, value: @member.tagline %>
  <br/>
  
    <%= form.label :aboutme %> &nbsp; 
    <%= form.text_area :aboutme, value: @member.aboutme %>
  <br/>
  
    <%= form.label :avatar %> &nbsp; 
    <%= form.url_field :avatar, value: @member.avatar %>
  <br/>
  
    <%= form.label :location %> &nbsp; 
    <%= form.text_field :location, value: @member.location %>
  <br/>
  
    <%= form.label :fav_style_manual %> &nbsp; 
    <%= form.text_field :fav_style_manual, value: @member.fav_style_manual %>
  <br/>
  
    <%= form.label :education %> &nbsp; 
    <%= form.text_field :education, value: @member.education %>
  <br/>
  
    <%= form.label :fav_advice %> &nbsp; 
    <%= form.text_field :fav_advice, value: @member.fav_advice %>
  <br/>
    <%= form.submit %>
<% end %>