<hr/>
<section>
  <p>@members: <%= @members.nil? %></p>
  <p>@member.alter_ego: <%= @member.alter_ego.blank? %></p>
  <p>session[:id]: <%= session[:id].nil? %></p>
  <p>session[:member_id]: <%= session[:member_id].nil? %></p>
  <p>session[:alter_ego]: <%= session[:alter_ego].nil? %></p>
</section>
<hr/> 