
<%= form_tag("members", method: "patch") do %>
	<%= label_tag(:acct_type, "Account type:") %><br/>
		<%= radio_button_tag(:acct_type, "e") %> Editor &nbsp;
		<%= radio_button_tag(:acct_type, "w") %> Writer &nbsp;
		<%= radio_button_tag(:acct_type, "n") %> Just visiting      <br/>

	<%= label_tag(:first_name, "First name:") %>
		<%= text_field_tag(:first_name, "<%= @member.first_name %>", maxlength: 20, required: "required") %>
	<%= label_tag(:last_name, "Last name:") %>
		<%= text_field_tag(:last_name, "<%= @member.last_name %>", maxlength: 20, required: "required") %><br/>
	<br/>
	<span><small>The alter ego cannot be changed</small></span>
	<br/>
	<%= label_tag(:email, "Email:") %>
		<%= email_field_tag(:email, "<%= @member.email %>", minlength: 8, maxlength: 30, required: "required") %><br/>

	<%= label_tag(:password_digest, "Password:") %>
		<%= password_field_tag(:password_digest, "", minlength: 8, maxlength: 30, required: "required") %>
	<%= label_tag(:password, "Confirm Password:") %>
		<%= password_field_tag(:password, "", minlength: 8, maxlength: 30, required: "required") %><br/>

	<%= label_tag(:tagline, "Tagline:") %>
		<%= text_field_tag(:tagline, "") %><br/>

	<%= label_tag(:aboutme, "Origin story (about me):") %>
		<%= text_field_tag(:aboutme, "", maxlength: 300) %><br/>

	<%= label_tag(:avatar, "Avatar:") %>
		<%= text_field_tag(:avatar, "") %><br/>

	<%= label_tag(:location, "Location:") %>
		<%= text_field_tag(:location, "") %><br/>

	<%= label_tag(:fav_style_manual, "Favorite style manual (Strunk and White, Chicago, etc.):") %>
		<%= text_field_tag(:fav_style_manual, "") %><br/>

	<%= label_tag(:education, "Education:") %>
		<%= text_field_tag(:education, "") %><br/>

	<%= label_tag(:fav_advice, "Favorite advice to give:") %>
		<%= text_field_tag(:fav_advice, "") %><br/>
	<br/>
	<%= submit_tag("Submit your edited profile") %>
<% end %>