<%= form_with(model: @member) do |form| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
		<h2>Try entering your information again because</h2>
		<ul>
			<% for message in @member.errors.full_messages %>
				<li><%= message %></li>
			<% end %>
		</ul>
    </div>
  <% end %>
 
  <hr/>
    <%= form.label :acct_type %>  
    <%= form.radio_button :acct_type, "e", value: "e" %> Editor &nbsp; 
    <%= form.radio_button :acct_type, "w", value: "w" %> Writer &nbsp; 
    <%= form.radio_button :acct_type, "n", value: "n" %> Neither
  <br/>
  
    <%= form.label :last_name %> &nbsp; 
    <%= form.text_field :last_name, value: @member.last_name %>
  <br/>
  
    <span>Sorry, the alter ego can't be changed</span>
    <%= form.label :alter_ego %> &nbsp; 
    <%= form.hidden_field :alter_ego, value: @member.alter_ego %>
  <br/>
  
    <%= form.label :email %> &nbsp; 
    <%= form.email_field :email, value: @member.email %>
  <br/>
  
    <%= form.label :password_digest %> &nbsp; 
    <%= form.password_field :password_digest %>
  <br/>
  
    <%= form.label :tagline %> &nbsp; 
    <%= form.text_field :tagline, value: @member.tagline %>
  <br/>
  
    <%= form.label :aboutme %> &nbsp; 
    <%= form.text_area :aboutme, value: @member.aboutme %>
  <br/>
  
    <%= form.label :avatar %> &nbsp; 
    <%= form.url_field :avatar, value: @member.avatar %>
  <br/>
  
    <%= form.label :location %> &nbsp; 
    <%= form.text_field :location, value: @member.location %>
  <br/>
  
    <%= form.label :fav_style_manual %> &nbsp; 
    <%= form.text_field :fav_style_manual, value: @member.fav_style_manual %>
  <br/>
  
    <%= form.label :education %> &nbsp; 
    <%= form.text_field :education, value: @member.education %>
  <br/>
  
    <%= form.label :fav_advice %> &nbsp; 
    <%= form.text_field :fav_advice, value: @member.fav_advice %>
  <br/>
    <%= form.submit %>
<% end %>

<%= link_to 'Back to your page', member_path %> or 
<%= link_to 'Enter the Ewniverse', members_path %>