Acct type - <%= @member.acct_type %> <br/>

Alter ego - <%= @member.alter_ego %> <br/>

Avatar - <%= @member.avatar %> <br/>

Education - <%= @member.education %> <br/>

Email - <%= @member.email %> <br/>

Fav advice - <%= @member.fav_advice %> <br/>

Fav style manual - <%= @member.fav_style_manual %> <br/>

Genres &nbsp; / &nbsp; future genres [NEED TABLE] <br/>

Location - <%= @member.location %> <br/>

Member name: <%= @member.first_name %> 
			<%= @member.last_name %> 
			[USER CHOOSES TO SHOW THIS OR NOT] <br/>

Origin story - <%= @member.aboutme %> <br/>

Ratings widget<br/>

Reviews
<hr/>
Presentation box: slideshow of 12-15 seconds goes here <br/>

Generic comic book cover [NEED CATEGORIES WITH THUMBNAILS] <br/>

Description of the current snippet [NEED SAMPLES TABLE LINKED TO A CATEGORY] <br/>
<br/>

<aside>
	<button>Email this member</button> &nbsp; 
	<button>Request/offer help</button>
</aside>
