<section>
  <p>@members: <%= @members.nil? %></p>
  <p>@member: <%= @member.blank? %></p>
  <p>session[:id]: <%= session[:id].nil? %></p>
  <p>session[:member_id]: <%= session[:member_id].nil? %></p>
  <p>session[:alter_ego]: <%= session[:alter_ego].nil? %></p>
</section>
<hr/> 
	<section class="row">
		<h1>Members Page</h1>
	</section>
	<hr/>
	<section class="container">
		<section class="row">
			- Classic-themed (Archie?)

			<div id="videoChat">
				<p>Video chat/IM in lower lefthand corner</p>
			</div>	

			<hr/>
			<%= render "member_data" %>
			<%= link_to 'Log out', logout_path %>
			<%= link_to 'Change my info', edit_member_path(@member) %>
			<%= link_to 'Delete acct', member_path(@member), method: :delete, data: {confirm: "Are you sure?"} %>
		</section>

		<section class="row">
			<hr/>
			<h2>Ratings</h2> 
			<% if @member.ratings %>
				<%= render @member.ratings %>
			<% else %>
				<p>No ratings yet</p>
			<% end %>
			<br/>
			<%= render 'ratings/form' %>
		</section>
	</section>